@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");


:root {
  --primary-color: #4caf50;
  --secondary-color: #bf2222;
  --background-color: #eaeff1;
  --text-color: #333;
  --white-color: #fff;
  --gray-color: #7f8c9b;
  --highlight-color: #0077ff;
  --highlight-hover-color: #e0efff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #555;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  padding: 0;
  margin: 0;
}
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 9999;
  backdrop-filter: blur(10px);
  display: none;
  padding: 20px;
}
.banner img {
  border: 5px solid black;
  box-shadow: 7px 7px 7px black;
  height: 100%;
}
@media (max-width: 768px) {
  .banner img {
    height: 70%;
    margin: auto;
  }
}


.header {
  background: var(--primary-color);
  padding: 15px;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: top 0.3s ease-in-out;
}

.logo img {
  width: 420px;
  height: 100px;
  /* margin: 0; */
}
.header .back{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 220px;
  color: darkgreen;
}
.header p{
  color: darkgreen;
  font-size: 20px;
}
.navbar-toggler-icon {
  display: none;
}
.back h3{
  display: inline;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.back a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  display: inline-block;
}

.back a i {
  fill: white;
  width: 28px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  margin-bottom: 0;
  margin-top: 10px;
  margin-right: 0;
  padding-bottom: 0;
}

.back a:hover{
  transform: scale(1.1);
  color: #063307; 
}
@media(max-width:720px)
{
.navbar-toggler-icon {
  position: absolute;
  top: 20%;
  left: 90%;
  display: block;
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header.hidden{
  top: -400px;
}
}
@media(max-width:500px)
{
.navbar-toggler-icon {
  position: absolute;
  top: 83%;
  left: 90%;
  display: block;
}
}
@media(max-width:355px)
{
.navbar-toggler-icon {
  position: absolute;
  top: 93%;
  left: 50%;
  display: block;
}
}

.header.hidden {
  top: -300px;
}

.header1 {
  margin-top: 120px;
  background: #fff;
  text-align: center;
  margin-bottom: 0;
}

nav ul {
  -webkit-font-smoothing: antialiased;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

nav a {
  color: #444;
  display: block;
  font: normal 13px/50px Arial, Helvetica, sans-serif;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  transition: transform 0.3s ease-in-out;
}

nav li:hover a {
  transform: scale(1.1);
  color: #063307;
}

nav li ul {
  float: left;
  left: 0;
  width: 150%;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav li:hover ul {
  opacity: 1;
  top: 50px;
  visibility: visible;
}

nav li ul li {
  float: none;
  width: 100%;
}

nav li ul a:hover {
  background: #4c5f1f;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger-menu div {
  width: 30px;
  height: 4px;
  background-color: var(--white-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar-links a {
  color: var(--white-color);
  font-size: 1.2rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar{
    margin-top: 250px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }


  .hamburger-menu {
    display: flex;
  }

  
  .navbar-links.active {
    display: flex;
  }

}

@media (max-width: 375px) {
  .header1 {
    margin-top: 100px;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  border: none;
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
  display: none;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider:hover .arrow {
  display: block;
}

.arrow1 {
  left: 20px;
}

.arrow2 {
  right: 20px;
}

@media (max-width: 768px) {
  .slider {
    height: 100%;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .slider img {
    width: 100%;
    height: 100%;
  }
}

.about-school {
  height: 80vh;
  width: 100%;
  background-color: var(--primary-color);
  font-family: "Playfair Display", serif;
  text-align: left;
  padding: 10px;
}
.about-school h2 {
  color: var(--text-color);
}
.about-school p {
  color: var(--white-color);
  font-size: 1.05em;
  /* margin-top: 20px; */
  font-family: "Raleway", sans-serif;
}
.about-school img {
  height: 90%;
  text-align: center;
}
@media (max-width: 768px) {
  .about-school {
    margin: 0;
  }
  .about-school h2 {
    text-align: center;
    font-weight: bold;
  }
}

.about {
  /* background-color: #; */
  padding: 15px;
}
@media (max-width: 768px) {
  .about {
    margin: 0;
  }
}

.card {
  background: transparent;
  border: none;
}

.card img {
  border-radius: 0;
}
.card img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.about-teacher {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.about-teacher section {
  background: var(--white-color);
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.teacher,
.card .name,
.card p {
  font-family: "Playfair Display", serif;
  text-align: center ;
  /* padding: 10px; */
}

.card .name {
  font-size: 24px;
  font-weight: 600;
  /* margin-top: 5px; */
}

.card p {
  font-size: 16px;
}
.card a{
  text-decoration :none;
  color:green;
}

.form-section {
 background-color: var(--white-color);
  padding: 30px;
  margin: auto;
  text-align: left;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.form-section h2 {
  text-align: left; 
  font-size: 1.5em; 
  margin-bottom: 20px; 
}

.form-container {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.form-group {
  flex: 1;
  min-width: 300px;
  max-width: 100%; 
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc; 
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  transition: border 0.3s ease;
}

.form-group span {
  display: block;
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}


.form-group input:focus {
  border-color: var(--primary-color); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Styling the submit button */
.form-container button[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%; 
}

.form-container button[type="submit"]:hover {
  background-color: #4c5f1f; 
}


@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr; 
  }

  .form-section {
    padding: 20px;
  }

  .form-container button[type="submit"] {
    width: 100%; 
  }
}

@media (max-width: 375px) {
  .form-section {
    padding: 15px;
  }
}

#container {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 40px 0;
  flex-grow: 1;
  display: var(--l_display, var(--container-display));
  grid-template-rows: minmax(224.45299999999997px, auto);
  grid-template-columns: minmax(0px, 1fr);
  --container-layout-type: grid-container-layout;
  --container-display: grid;
}

.col {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

p {
  font-size: 14px;
  color: var(--gray-color);
  line-height: 150%;
}

.card_details {
  padding: 16px 8px 8px 8px;
}

button:focus,
button:hover {
  background-color: var(--highlight-color);
  color: var(--highlight-hover-color);
}

@media screen and (max-width: 375px) {
  #container {
    flex-direction: column;
    align-items: center;
  }
}



footer {
  background-color: #1c1f22; /* Dark background */
  color: white;
  padding: 30px 20px;
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: left;
  padding-bottom: 20px;
}

.part h3 {
  color: #4caf50; /* Green heading text */
  margin-bottom: 15px;
}

.part a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: color 0.3s ease-in-out;
}

.part a:hover {
  color: #4caf50; /* Change color on hover */
}

.contact-us p {
  margin: 5px 0;
}

.social-links .links a {
  margin-right: 15px;
  display: inline-block;
}

.social-links .links svg {
  fill: white;
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease-in-out;
}

.social-links .links a:hover svg {
  transform: scale(1.1);
  fill: #4caf50; /* Green on hover */
}

.foot {
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #444;
  padding-top: 15px;
}

.foot a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}
