.col-md-8{
    padding: 40px;
   font-size: 20px;
   box-shadow: 15px 4px 15px rgba(27, 27, 27, 0.1);
}
p{
    text-shadow: 15px 4px 15px rgba(27, 27, 27, 0.1);
}
.col-md-12{
    box-shadow: 15px 4px 15px rgba(27, 27, 27,0.1);
}
.founder-name{
    text-align: center;
    border: 2px solid black;
}
.img-fluid{
    border: 3px solid black;
    box-shadow: 15px 4px 15px rgba(27, 27, 27,0.1);
}
.header{
    padding-left: 30px;
    background-color: #4caf50;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}
.blockquote{
    font-size: 50px;
    padding: 30px;
    font-weight: bold;
}
h1{
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.main-aff{
    padding-top: 60px;
}
.col-md-6{
    padding: 50px;
    box-shadow: 15px 4px 15px rgba(27, 27, 27, 0.1;
}
