.head{
    padding-left: 30px;
    background-color: #4caf50;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.p1{
    padding-left: 40px;
    padding-top: 40px;
    font-size: 60px;
}
.p2{
    padding-left: 40px;
    padding-top: 40px;
   font-size: 25px;
}
.main-aff{
    padding-top: 60px;
}
.img-fluid{
    border: 2.5px solid black;
}
